# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [2]:
import sqlite3
import pandas as pd

In [4]:
# Your code here
conn = sqlite3.connect('lego.db')
c = conn.cursor()

In [6]:
q = "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;"
        
c.execute(q).fetchall()

[('product_details',),
 ('product_info',),
 ('product_pricing',),
 ('product_reviews',)]

In [7]:
sql_1 = """

SELECT * FROM sqlite_master WHERE type="table"

"""


c.execute(sql_1)
df_master = pd.DataFrame(c.fetchall())
df_master.columns = [x[0] for x in c.description]
df_master


field_dict = {}

for tab_name in df_master.name:
    sql_2 = """

    SELECT * FROM {}

    """.format(tab_name)
    c.execute(sql_2)
    field_dict.update({tab_name: [x[0] for x in c.description]})

    
print("table names: {}".format(list(field_dict.keys())))
print("\n")

for tab_name in field_dict.keys():
    print("""columns in table "{}": {}\n""".format(tab_name, field_dict[tab_name]))

table names: ['product_info', 'product_pricing', 'product_details', 'product_reviews']


columns in table "product_info": ['prod_id', 'ages', 'piece_count', 'set_name']

columns in table "product_pricing": ['prod_id', 'country', 'list_price']

columns in table "product_details": ['prod_id', 'prod_desc', 'prod_long_desc', 'theme_name']

columns in table "product_reviews": ['prod_id', 'num_reviews', 'play_star_rating', 'review_difficulty', 'star_rating', 'val_star_rating']

In [22]:
df = pd.read_sql_query("""SELECT * 
                        FROM product_info
                        LEFT JOIN product_pricing
                        USING(prod_id)
                        LEFT JOIN product_details
                        USING(prod_id)
                        LEFT JOIN product_reviews
                        USING(prod_id) ;""", conn)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
prod_desc            10870 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    10870 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

In [24]:
df.head(15)

,prod_id,ages,piece_count,set_name,country,list_price,prod_desc,prod_long_desc,theme_name,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,4+,1,Brick Separator,AT,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
1,630,4+,1,Brick Separator,AU,2.2724,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
2,630,4+,1,Brick Separator,BE,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
3,630,4+,1,Brick Separator,CA,2.3322000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
4,630,4+,1,Brick Separator,CH,2.958,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
5,630,4+,1,Brick Separator,CZ,3.3120000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
6,630,4+,1,Brick Separator,DE,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
7,630,4+,1,Brick Separator,DN,2.4,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
8,630,4+,1,Brick Separator,ES,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
9,630,4+,1,Brick Separator,FI,3.599,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
10,630,4+,1,Brick Separator,FR,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
11,630,4+,1,Brick Separator,GB,2.786,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
12,630,4+,1,Brick Separator,IE,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
13,630,4+,1,Brick Separator,IT,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6
14,630,4+,1,Brick Separator,LU,3.0378000000000003,blah,blahblah,Classic,180.0,4.0,Very Easy,4.8,4.6